.modal {
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	.modal-content {
		position: relative;
		left: calc(~"50% - 15rem");
		top: 18rem;
		width: 30rem;
		height: auto;
		border-radius: 0.25rem;
		box-shadow: 0 1.25rem 2rem 0 rgba(0,0,0,0.5), 0 0 0.125rem 0 rgba(0,0,0,0.3);
		box-sizing: content-box;
		overflow: hidden;
		// z-index: 101;
		background-color: white;
		.info-list {
			width: 100%;
			padding-top: 30px;
			padding-bottom: 15px;
			input {
				padding-left: 10px;
				width: 352px;
				height: 38px;
				margin-bottom: 15px;
				outline: none;
				border: 1px solid #AAAAAA;
				border-radius: 2px;
				display: block;
				margin-left: calc(~"50% - 176px");
			}
		}
	}
}

.modal-hide {
	display: none;
}

.modal-show {
	display: block;
}